@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Bienvenido</h1>
    <p class="lead">Bienvenida de ejemplo.</p>
    <p><a href="https://www.youtube.com/watch?v=qRN_QIAzsUM" class="btn btn-primary btn-lg">Youtube &raquo;</a></p>
    <p><a href="https://www.youtube.com/watch?v=_YVZRYJ6WAE" class="btn btn-primary btn-lg">Youtube2 &raquo;</a></p>
</div>

